
  <div class="main_wrapper" >
    <div class="text_wrapper">
      <h1>COMMUNITY SMART ACCESS</h1>
    </div>
    <div class="login_wrapper">
      <div class="welcome_text">
        <h5>Welcome</h5>
        <h5>Please login to access</h5>
      </div>
      <form [formGroup]="loginForm" class="login_form" (submit)="login()">  
        <div class="form_group">
         
           <input type="text" formControlName="Username"  placeholder="Username"> 
           <div *ngIf="submitted && f['Username'].touched && f['Username'].invalid">
            <small *ngIf="f['Username'].errors?.['required']">Username is required</small>         
          </div>
        </div>
        <div class="form_group">
          
          <input type="password" formControlName="Password"  placeholder="Password"> 
          <div *ngIf="f['Password'].touched && f['Password'].invalid">
            <small *ngIf="f['Password'].errors?.['required']">Password is required</small>
          </div>
        </div>
        <button type="submit"  class="login_button">Login</button>
        
      </form>
      <div *ngIf="apiErrorMessage" class="error">
        <small>{{ apiErrorMessage }}</small>
      </div>
    </div>
  </div>  

  


