* {
    box-sizing: border-box;
}

form{
    padding: 20px;
    /* width: 500px; */
    
}

.row{
    display: flex;
    margin-bottom: 10px;
    font:"Arial Bold", 'Arial';
    font-weight: 500;
    font-style: normal;
    flex-wrap: wrap;
}
.row input, .row textarea, .row select{
    width: 300px !important;
    border: 1px solid black;
}
.row input,textarea{
    width: 300px !important;

}
.row input, .row textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid black; 
    box-sizing: border-box; 
}

.row span{
    margin-right: 20px;
}
.row label{
    display: inline-block;
    width: 250px !important;
    font-size: 14px;
    font-weight: 700;
}
.row label span{
    display: none;
}
th,td{
    border: 1px solid #333;
    padding: 10px;
    /* padding-right: 300px; */
    text-align: center;
    /* width: 200px; */
        
}
td{
    height: 15px;
    width: 400px;
}
.short {
    /* width: 150px; */
    white-space: nowrap;
    padding: 5px; 
}
th{
    background-color: rgb(235, 227, 227);
    /* text-align: right; */

}
table{
    text-align: center !important;
    border-collapse: collapse;
    width: 570px;

}
button{
    width: 85px;
    height: 28px;
    border: 1px solid black;
    background-color: lightgrey;
}
.space-up{
    margin-top: 40px;
}
.on-1{
    border-radius: 4px;
   
}
.on-2{
    border-radius: 7px;
    border-style: hidden;
    margin-right: 15px;

}
.on-3{
    border-radius: 7px;
    border-style: hidden;
    color: white;
    background-color: rgb(34, 63, 223);
    font-weight: 700;
}
.row label span{
    display: none !important;
}

@media (max-width:856px) {
    .row input, .row textarea, .row select {
        width: 100% !important;
    }
    form{
        padding: 0 !important;
    }
    .row label{
        display: inline-block;
        width: auto !important;
    }
    table{
        text-align: center !important;
        border-collapse: collapse;
        width: auto;
    }
    .on-3{
        margin-top: 5px !important;
    }
}