<h2 class="heading">Dashboard</h2>


    <!-- =======beadcrumb======== -->

    <div class="breadcrumb-wrapper">
        <a href="./dashboard.html">Home</a>> <p>Dashboard</p>
    </div>
    <!-- ==========Page Header============ -->

    <div class="page-header">
        <h2>
            1056 - Residensi Impian Indah
        </h2>
        <h2>
            <span>23/01/2025</span>,
            <span>04:09 PM</span>
        </h2>
    </div>

    <!-- ==========Cards======== -->

    <div class="card_wrapper">
        <div class="card card-1">
            <a href="./finance.html">
                <h5 class="">Maintainance Fee Collection</h5>
                <h2 class="">RM126,043.00</h2>
            </a>
        </div>
        <div class="card card-2">
            <a href="./finance.html">
                <h5 class="">Outstanding Fee</h5>
                <h2 class="">RM126,043.00</h2>
            </a>
        </div>
        <div class="card card-3">
            <a href="./complaint.html">
                <h5 class="">New / Active Complaint Case</h5>
                <h2 class="">2</h2>
            </a>
        </div>
        <div class="card card-4">
            <a href="./visitor-access.html">
                <h5 class="">Current Visitor</h5>
                <h2 class="">3</h2>
            </a>
        </div>
    </div>


    <hr>
    <!-- ==========table header======== -->
    <div class="table-header">
        <h4 class="title">
            Visitor List
        </h4>
        <div>
            <a href="./visitor-access-add.html" class="btn btn-primary"> Add Visitor</a>
        </div>
    </div>
    <!-- ===========Table 1============== -->


    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Visit Purpose</th>
                    <th>Status</th>
                    <th>Entry Date / Time</th>
                    <th>Exit Date / Time</th>
                    <th>Vehicle Reg. No.</th>
                    <th>Vehicle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Visiting</td>
                    <td>Zuraida Binti Abd Rahman</td>
                    <td>Entry</td>
                    <td class="status-1">Entry</td>
                    <td>30/03/2023 21:30.23</td>
                    <td>-</td>
                    <td>ABC123</td>
                    <td>Vehicle</td>
                </tr>
                <tr>
                    <td>Visiting</td>
                    <td>Nur Fitri Binti Mohd Aslam</td>
                    <td>Exit</td>
                    <td class="status-2">Exit</td>
                    <td>23/11/2023 12:56.23</td>
                    <td>23/11/2023 14:03.20</td>
                    <td>WC563D</td>
                    <td>Vehicle</td>
                </tr>
                <tr>
                    <td>Delivery</td>
                    <td>Ahmad Firdaus</td>
                    <td>Parcel Delivery</td>
                    <td class="status-1">Entry</td>
                    <td>02/01/2025 09:45.00</td>
                    <td>-</td>
                    <td>DFT456</td>
                    <td>Van</td>
                </tr>
                <tr>
                    <td>Maintenance</td>
                    <td>Lim Seng Hong</td>
                    <td>Repair Services</td>
                    <td class="status-2">Exit</td>
                    <td>04/02/2025 15:30.10</td>
                    <td>04/02/2025 17:15.45</td>
                    <td>MB987G</td>
                    <td>Truck</td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- ===========Table 2============== -->
    <div class="table-header">
        <h4>Complaint List
        </h4>
    </div>
    <div class="table-wrapper">
        <table class="table-2">
            <thead>
                <tr>
                    <th>Ref. No</th>
                    <th>Type</th>
                    <th>Resident Name</th>
                    <th>Complaint Date / Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="./complaint-details.html">2501012</a></td>
                    <td>Missing Item</td>
                    <td>Nur Fitri Binti Mohd Aslam</td>
                    <td>23/11/2023 14:03.20</td>
                    <td>New</td>
                </tr>
                <tr>
                    <td><a href="./complaint-details.html">2501011</a></td>
                    <td>Neighbourhood Complaint</td>
                    <td>Syaiful Nizam Bin Mahmad Sobri</td>
                    <td>23/11/2023 14:03.20</td>
                    <td>Solved</td>
                </tr>
                <tr>
                    <td><a href="./complaint-details.html">2501010</a></td>
                    <td>Neighbourhood Complaint</td>
                    <td>Mohamad Syafiq bin Mohamad Sidiq</td>
                    <td>01/04/2023 17:57.11</td>
                    <td>Unsolved</td>
                </tr>
                <tr>
                    <td><a href="./complaint-details.html">2501009</a></td>
                    <td>Malfunction</td>
                    <td>Mohamad Fazli Bin Moktar</td>
                    <td>01/04/2023 17:57.11</td>
                    <td>Reject</td>
                </tr>
                <tr>
                    <td><a href="./complaint-details.html">2501008</a></td>
                    <td>Malfunction</td>
                    <td>Mohamad Fazli Bin Moktar</td>
                    <td>01/04/2023 17:57.11</td>
                    <td>Accepted</td>
                </tr>
            </tbody>
        </table>
    </div>